html,body
{
    margin: 0;
    height: 100%;
}


.bg
{
    background-image: url("../img/beatles_getty.jpg");
    background-position: center;
    background-repeat: no-repeat;
}


.parallax
{
    background-image: url("../img/beatles2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fondnoir
{
    background-color: black;
}

h1
{
    color: white;
    font-family: "Oswald Medium";
    font-size: 50px;
}

p
{
    color: white;
}

li
{
    color: white;
    font-family: "Oswald Medium";
    font-size: 20px;
}

.paddingzone
{
    padding-top: 100px;
    padding-bottom: 100px;
}

h2
{
    color: black;
    font-family: "Oswald Medium";
    font-size: 20px;
}

.noir
{
    color: black;
}

.titre
{
    font-family: Satisfy;
    font-size: 25px;
    text-shadow: 2px 2px 4px #000000 ;
}

.fa, .fas
{    color: rgbwo;
}

/* **************************MENU**********/

.navbar {
    background-color: #090909;
}
.navbar .navbar-brand {
    color: #ffffff;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #75cbd8;
}
.navbar .navbar-text {
    color: #ffffff;
}
.navbar .navbar-text a {
    color: #75cbd8;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    color: #75cbd8;
}
.navbar .navbar-nav .nav-link {
    color: #ffffff;
    border-radius: .25rem;
    margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #75cbd8;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #75cbd8;
    background-color: #fefdff;
}
.navbar .navbar-toggle {
    border-color: #fefdff;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #fefdff;
}
.navbar .navbar-toggle .navbar-toggler-icon {
    color: #ffffff;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #ffffff;
}
.navbar .navbar-link {
    color: #ffffff;
}
.navbar .navbar-link:hover {
    color: #75cbd8;
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #75cbd8;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #75cbd8;
        background-color: #fefdff;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #75cbd8;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #75cbd8;
        background-color: #fefdff;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #75cbd8;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #75cbd8;
        background-color: #fefdff;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #75cbd8;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #75cbd8;
        background-color: #fefdff;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #75cbd8;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #75cbd8;
    background-color: #fefdff;
}