html,body {
    height:100%;
}

.margeHaut{
    margin-top: 150px;
}

/* ZONE DES COULEURS DU NAVBAR */

.navbar {
    background-color: #f68e08;
}
.navbar .navbar-brand {
    color: #060606;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #080808;
}
.navbar .navbar-text {
    color: #060606;
}
.navbar .navbar-text a {
    color: #080808;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    color: #080808;
}
.navbar .navbar-nav .nav-link {
    color: #060606;
    border-radius: .25rem;
    margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #080808;
}
.navbar .navbar-nav .dropdown-menu {
    background-color: #f68e08;
    border-color: #c3b6a8;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: #060606;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #080808;
    background-color: #c3b6a8;
}
.navbar .navbar-nav .dropdown-menu .dropdown-divider {
    border-top-color: #c3b6a8;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #080808;
    background-color: #c3b6a8;
}
.navbar .navbar-toggle {
    border-color: #c3b6a8;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #c3b6a8;
}
.navbar .navbar-toggle .navbar-toggler-icon {
    color: #060606;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #060606;
}
.navbar .navbar-link {
    color: #060606;
}
.navbar .navbar-link:hover {
    color: #080808;
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #060606;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #080808;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #080808;
        background-color: #c3b6a8;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #060606;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #080808;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #080808;
        background-color: #c3b6a8;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #060606;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #080808;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #080808;
        background-color: #c3b6a8;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #060606;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #080808;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #080808;
        background-color: #c3b6a8;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #060606;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #080808;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #080808;
    background-color: #c3b6a8;
}

/* FIN DE LA ZONE DES COULEURS DU NAVBAR générée automatiquement par le site*/

#navbarNavAltMarkup > div > a.nav-item.nav-link.active{
    background-color: red;
}