.html,body
{
    height: 100%;
    margin: 0;
}

.bg
{
    background-image: url("../img/zen.jpg");
    height: 100%;
    padding-bottom: 200px;
    padding-top: 200px;
    background-position: center;
    background-repeat: no-repeat;
}
