html,body{
    margin:0;
    height: 100%;
}
.parallax
{
    background-image: url("../img/8382.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.parallax2
{
    background-image: url("../img/plage-parfaite.jpg");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3
{
    background-image: url("../img/ocean.jpg");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carreJaune
{
    background-color: rgb(224, 217, 29, 0.5);
    height: 25%;
    }

.carreBlanc
{
    background-color: rgba(255, 255, 255, 0.6);
}

h1
{
    color: #117a8b;
    font-size: 24px;
    text-align: left;
}

h2
{
    color: #117a8b;
    font-size: 35px;
    text-align: left;
    font-family: oswald-bold;
}

h3
{
    color: #117a8b;
    font-size: 24px;
    text-align: center;
}

h4
{
    color: white;
    font-size: 35px;
    text-align: left;
    font-family:oswald-bold;
}

.bleu
{
    background-color: #9fcdff;
    padding: 40px;
}
