.bleu
{
    height: 100px;
    background-color: #0056b3;
}

.rouge
{
    height: 100px;
    background-color: red;
}

.vert
{
    height: 100px;
    background-color: green;
}

.jaune
{
    height: 100px;
    background-color: yellow;
}

html,body
{
    margin: 0px;
    height: 100%;
}

.bg
{
    background-image: url("../img/grrrr.jpg") ;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.hauteur100
{
    height: 100%;
}

h1, h2, p
{
    color: white;
}

hr
{
    padding-bottom: 5px;
    padding-top: 5px;
    max-width: 50px;
    border-width: 2px;
    border-color: white;
}

.fond
{
    background-color: #117a8b;
    height: 75%;
    background-position: center;
}