.bleu
{
    height: 100px;
    background-color: blue;
}

.rouge
{
    height: 100px;
    background-color: red;
}

.vert
{
    height: 100px;
    background-color: green;
}

.jaune
{
    height: 100px;
    background-color: yellow;
}

html,body
{
    margin: 0px;
    height: 100%;
}

.bg
{
    background-image: url("../img/laptop.jpg") ;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}